<div class="carousel-container">
  <div
    class="img-box"
    style="background-image: url('../assets/images/Assessment.png')"
  >
    <div class="slides">
      <div class="back">
        <img src="../assets/icons/rounded-left.svg" alt="" />
      </div>
      <div class="next">
        <img src="../assets/icons/rounded-right.svg" alt="" />
      </div>
      <div class="slide-show">
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
        <div class="slide"></div>
      </div>
    </div>
  </div>
</div>
